# **Curso de Especialização em Big Data, Data Science e Data Analytics - 2021/1**

**Algoritmos e Data Science**

Grupo 10:

- Diogo Gnutzmann Santos    
- Evandro Schubert Faleiro    
- Lucas Sagrilo dos Santos    
- Luis Dinarte Escobar Resende

Fonte do dataset: https://www.kaggle.com/rashikrahmanpritom/heart-attack-analysis-prediction-dataset

# **1. Business Understanding**

Prever se um paciente poderá estar sofrendo um ataque cardíaco.

# **2. Data Understanding**

Importar todas as bibliotecas necessárias

In [ ]:
import pandas as pd
import numpy as np

Importar dataset

In [ ]:
data_url = 'https://raw.githubusercontent.com/gnutzmann/heart-attack/main/heart.csv'
raw_df = pd.read_csv(data_url)

In [ ]:
raw_df.head(10)

   age  sex  cp  trtbps  chol  fbs  ...  exng  oldpeak  slp  caa  thall  output
0   63    1   3     145   233    1  ...     0      2.3    0    0      1       1
1   37    1   2     130   250    0  ...     0      3.5    0    0      2       1
2   41    0   1     130   204    0  ...     0      1.4    2    0      2       1
3   56    1   1     120   236    0  ...     0      0.8    2    0      2       1
4   57    0   0     120   354    0  ...     1      0.6    2    0      2       1
5   57    1   0     140   192    0  ...     0      0.4    1    0      1       1
6   56    0   1     140   294    0  ...     0      1.3    1    0      2       1
7   44    1   1     120   263    0  ...     0      0.0    2    0      3       1
8   52    1   2     172   199    1  ...     0      0.5    2    0      3       1
9   57    1   2     150   168    0  ...     0      1.6    2    0      2       1

[10 rows x 14 columns]

Dicionário de Dados

Coluna   | Descrição
---------|----------------------------------------------------
age      | Idade da pessoa
sex      | Gênero da pessoa</br>0 - Feminino</br>1 - Masculino
cp       | Tipo de dor no peito</br>Valor 1: Angina Típica</br>Valor 2: Angina Atipica</br>Valor 3: Sem angina</br>Valor 4: Assintomático
trtbps   | Pressão sanguínea em repouso em (mm Hg)
chol     | Colesterol em mg/dl por meio de sensor IMC
fbs      | Açucar no sangue em jejum
restecg  | Eletrocardiograma em repouso</br>Valor 0: Normal</br>Valor 1: Tem anormalidade da onda ST-T (Inversões da onda T e / ou elevação ou depressão ST> 0,05 mV)</br>Valor 2: Mostra hipertrofia ventricular esquerda provável ou definitiva pelos critérios de Estes	
thalachh | maximum heart rate achieved (Frequência Cardíaca Máxima Alcançada)
exng     | Angina Induzida por Exercício</br>1 = Sim</br>    0 = Não</br>
oldpeak  | Pico anterior
output   | 0 = Menos chance de ter um ataque cardíaco</br> 1= Mais chance de ter um ataque cardíaco

In [ ]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [ ]:
raw_df.dtypes

age           int64
sex           int64
cp            int64
trtbps        int64
chol          int64
fbs           int64
restecg       int64
thalachh      int64
exng          int64
oldpeak     float64
slp           int64
caa           int64
thall         int64
output        int64
dtype: object

In [ ]:
print("Total de registros: ",len(raw_df.index))

Total de registros:  303

# **3. Data Preparation**

# **4. Modeling**

# **5. Evaluation**

# **6. Deployment**

# **Conclusão**